.calendar-wrapper{
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

.eventCal{
    font-family: 'Inter';
    overflow-y: scroll;


    &__timeStamp{
        position: relative;
        width: 560px;
        padding: 1.8rem 0px;

        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &-timeString{
            color: $darkGreen;
        }

        &-timeOutline{
            display: inline-block;
            width: 500px;
            height: 1px;
            background-color: #CACACA;
        }

        &-event{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            width: 500px;
            z-index: 100;
            padding: 20px 20px;
            line-height: 18px;
            top: 46px;
            right: 0px;

            background-color: $lighterGreen;
            
        }

        &-eventHeader{
            font-size: 16px;
            margin: 0px;
        }

        &-eventTime{
            font-size: 12px;
            margin: 0px;
        }
    }
}