.main-container {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    .image-container {
        width: 50%;
        height: 100%;
        .main-image {
            width: 600px;
            height: 600px;
            object-fit: contain;
        }
    }
    .text-container {
        width: 50%;
        line-height: 2rem;
        justify-content: center;
        margin: auto;
        margin-left: 120px;
        h1 {
            color: $darkGreen;
            font-size: 3rem;
            letter-spacing: 1.2px;
        }
        ul {
            margin-top: 35px;
            margin-left: 10px;
        }
        ul li::marker {
            content: "\2714\0020 ";
            color: $mediumGreen;
            font-size: 1.6rem;
        }
    }

    .sign-in-container{
        margin-top: 5.5rem;
        button:hover{
            cursor: pointer;
        }
    }
}


