.nav{
    background-color: $darkGreen;

    &__profile{
        min-height: 25px;
        width: 25px;
        border-radius: 50px;
        background-position: center;
        background-size: cover;
    }
}