button.login {
    display: inline-block;
    background: white;
    color: #212529;
    border-radius: 5px;
    border: thin solid $darkGreen;
    box-shadow: 1px 1px 1px $mediumGreen;
    white-space: nowrap;
    width: auto;
    height: 45px;
    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        color: $darkGreen;
        font-weight: 600;
        box-shadow: 0 2px $darkGreen;
        transform: translateY(4px);
    }

    img {
        background-color: transparent;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-left: 2px;
    }
}